{% extends 'base.html.twig' %}

{% block body %}
<h1>Комментарии:</h1>
<h3>Добавить комментарий:</h3>
{#
{{ form_start(commentsForm) }} <br />
    {{ form_widget(commentsForm.commentText) }}
    {{ form_widget(commentsForm.buttonSend) }}
{{ form_end(commentsForm) }}
#}

<h4>Новость целиком:</h4>
    {{ newsText }} <br /> <br />
    Дата публикации: {{ newsDateText | date}} <br />
    Имя автора: {{ newsAuthorName }} <br />
    Фамилия автора: {{ newsAuthorSurname }} <br />
<br/>

{{ form(commentsForm) }}

<style type="text/css">
    table, th, td {
        border: 1px solid black;
    }
</style>

<table>

    {% if comments %}
    <thead>
    <tr>
        {# <th>id</th> #}
        <th>Текст</th>
        <th>Имя автора</th>
        <th>Фамилия автора</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments%}
        <tr>
            {# <td>{{ comment.id }}</td> #}
            <td>{{ comment.text }}</td>
            <td>{{ comment.authorId.name}}</td>
            <td>{{ comment.authorId.Surname}}</td>
            <td>{{ comment.dateCreating | date}}</td>
            {#<td>

                <a href="{{ path('deleteComments', { 'idComments':comment.id}) }}"> #} {# 'idUser':idUser, #}
                    {#  Удалить комментарий {# { comment.id }} {{ idUser } #}
                {#</a>
            </td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h4>Комментариев пока нет</h4>
{% endif %}

<a href="{{ path("news")}}"> Назад </a>

<a href="{{ path('deleteNews',{'idNews':idNews}) }}" > {# ссылка на переход к другой странице (с передачей в роут(URL) параметров ключей) #}
    <h4>
        Удалить новость
    </h4>
</a>
{% endblock %}